<h1>Hello, world!</h1>

<%= form_with(url: '/upload', multipart: true, method: :post) do %>
  <%= file_field_tag 'csv', accept: 'text/csv' %>
  <br><br>

  <input type="submit" class="font-semibold bg-blue-500 p-4" />
<% end %>
